*{
    margin: 0px ;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(168, 202, 117)
}

.form {
    margin:  20px auto;
    padding: 20px;
    border: 1px solid rgb(118, 180, 25);
    border-radius: 10px;
    width: 450px;
    background-color: white;
    
}
h1, h3{
    margin: 5px;
    padding: 5px;
    font-size: x-large;
    color: rgb(99, 101, 104);
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 20px;
}
input , textarea{
    color: black;
    background:white ;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(118, 180, 25);
    border-radius: 5px;
    width: 390px;
}
input:focus{
    border: none;
    outline: none;
}
textarea:focus{
    border: none;
    outline: none;
}
.bt{
    color: rgb(252, 248, 233);
    background: rgb(118, 180, 25);
}
h6{
    margin: 5px 130px;
}